/DataAccess/bin
/DataAccess/obj
/Entities/bin
/Entities/obj
/Exporter/bin
/Exporter/obj
/Helper/bin
/Helper/obj
/Logging/bin
/Logging/obj
/Importer/bin
/Importer/obj
/WinForm/bin/Export
/WinForm/bin/Logs
/WinForm/bin/Import
/WinForm/bin/Report
/WinForm/bin/WinForm.vshost*
/WinForm/bin/Rpt.vshost*
/WinForm/obj
/WinForm/bin/DataAccess.*
/WinForm/bin/Entities.*
/WinForm/bin/Exporter.*
/WinForm/bin/Helper.*
/WinForm/bin/Importer.*
/WinForm/bin/Logging.*
/YuLin.v11.suo
