<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=(local)\SQL2012; Initial Catalog=YuLin; User ID=sa; Password=2frogs;"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="ReportDirectory" value="E:\Report"/>-->
		<add key="defaultScreen" value="about"/> <!--about (default), import, report-->
	</appSettings>
</configuration>