<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="master" connectionString="Data Source=(local)\SQL2012; Initial Catalog=Master; User ID=sa; Password=2frogs;"/>
		<add name="report" connectionString="Data Source=(local)\SQL2012; Initial Catalog=YuLin; User ID=sa; Password=2frogs;"/>
	</connectionStrings>
	<appSettings>
		<add key="AppPath" value="D:\Reporting"/>
		<add key="Version" value="1.0.0.16"/>
		<add key="ReleaseDate" value="2016-2-28"/>
	</appSettings>
</configuration>